name: Mirror to Codeberg

on:
  push:
    branches:
      - "master"
  schedule:
      - cron: "0 */4 * * *"

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: yesolutions/mirror-action@v0.7.0
        with:
          REMOTE: 'ssh://git@codeberg.org/nostalgia/scoop-cn.git'
          GIT_SSH_PRIVATE_KEY: ${{ secrets.CODEBERG }}
          GIT_SSH_NO_VERIFY_HOST: "true"
